.header {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url("../images/background1.jpg") center no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding-bottom: 70px;
}

.logo {
    color:#fff;
    font-family: 'Bebas Neue', sans-serif ;
    font-size: 30px;
    text-transform: uppercase;
}

h1 {
    font-family: 'Bebas Neue', sans-serif ;
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 5.70937px;
}

.header h2 {
    margin-bottom: 15px;
    padding-top: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.intro__text {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3.7px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about {
    width: 100%;
    height: 70px;
    padding-right: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.about__logo {
    color:#000000;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 200px;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
    text-transform: 400; 
}

.nav__link {
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color:#333;
    text-decoration: none;
    transition: color .2s linear;
}

.nav__link::after {
   content: "";
   display: flex;
   width: 100%;
   height: 3px;
   opacity: 0;
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1;
   color: #00A4E5;
   text-decoration: none;
   border: 2px solid #00A4E5;
   background-color: #00A4E5;
}

.nav__link:hover {
    color: #00A4E5;
}

.nav__link:hover::after,
.nav__link.active::after {
   opacity: 1;
}