.our_story {
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Open Sans Condensed", sans-serif;
  margin: 0;
}

.our_story__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  color: rgba(72, 85, 91, 1);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.our_story__header hr {
  border: 0.5px solid rgba(0, 164, 229, 1);
  background-color: rgba(0, 164, 229, 1);
  width: 50px;
  margin-top: 10px;
}

.our_story__main {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans Condensed", sans-serif;
}

.our_story__main__text {
  max-width: 405px;
  margin-right: 15px;
}

.our_story__main__text h2 {
  margin-top: 0;
  margin-bottom: 30px;
  color: rgba(72, 85, 91, 1);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  font-family: "Open Sans Condensed", sans-serif;
  line-height: 27px;
}

.our_story__main__text span {
  color: rgba(0, 164, 229, 1);
}

.our_story__main__text p {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #48555b;
  font-family: "Open Sans Condensed", sans-serif;
  line-height: 23px;
}

.our_story__main ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  padding: 0;
}

.our_story__main ul li {
  list-style-type: none;
  margin: 0 10px;
}

.image-vidget {
  width: 130px;
  height: 225px;
}

@media (max-width: 1000px) {
  .our_story__main {
    flex-direction: column;
    align-content: center;
  }
  .our_story__main__text {
    max-width: 100%;
    margin: 0 0 15px 0;
    text-align: justify;
  }
  .image-vidget {
    width: 130px;
    height: 220px;
  }
  .our_story__main ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }
}
